<template name="about">
    <div>

<h2 align=center>Houston - Network of Environmental Towers (H-NET)</h2>

<blockquote>
<h3>Project Abstract</h3>

The Gulf Star Grid will serve many applications depending on timely or
real-time transmission of data from sensors as well as high-performance
networking for data dissemination and analysis. The initial focus in
establishing and operating the Gulf Star Grid is the effective support of
collecting, analyzing and disseminating data from a network of sensors in the
Houston area for the study of photochemical smog episodes in the Houston
Galveston Area (HGA). Developing a good understanding of photochemical smog
episodes in the HGA is essential since not only do such events represent a
health hazard, but unlike the situation in a number of other major US
metropolitan areas, such as Los Angeles, where peak Ozone levels have decreased
significantly, little improvement in the number of exceedences of ozone alert
levels has been observed in the HGA. The objective of the proposed Gulf Star
Grid project is to demonstrate the feasibility of 1) using real-time
measurements of air quality anomalies and events as a basis for an early
warning system, 2) providing real-time air chemistry and meteorological
measurements for air quality model applications, 3) establishing a data base
for web based dissemination of such data, and 4) sharing such data across
networks for modeling and prediction. The Gulf Star Grid will accomplish these
objectives by connecting a few ground-based measurement sites forming the
Houston Network of Environmental Towers, H-NET to the Grid and by employing
state-of-the-art communication, data acquisition, data management and web
technologies. 

<h3>Funding</h3>
This project is funded by EPA.

<h3>PI/Co-PI</h3>
  <ul>
    <li>PI: <a href="http://www2.cs.uh.edu/~johnsson/">Lennart Johnsson</a></li>
    <li>Co-PI: <a href="http://easd.geosc.uh.edu/rappenglueck/">Bernhard Rappenglueck</a></li>
    <li>Co-PI: <a href="http://www.geosc.uh.edu/people/faculty/barry-lefer/index.php">Barry Lefer</a></li>
  </ul>


</blockquote>


        </div>
    </template>