<template name="disclaimer">
<h3 align=center>Site Disclaimer</h3>
<blockquote>
With respect to documents available from this Web server, or documents from
other servers made available through this Web server, neither
the University of Houston, nor any of
their employees, nor any of their contractors, subcontractors, or their
employees, makes any warranty, express or implied, including the warranties of
merchantability and fitness for a particular purpose, or assumes any legal
liability or responsibility for the accuracy, completeness, or usefulness of
any information, apparatus, product, or process disclosed, or represents that
its use would not infringe privately owned rights.
</blockquote>
</template>