<template name="home">
<table width=800 cellpadding=2 cellspacing=2 align=center bgcolor="#FFFFFF">
<tr>
  <td colspan=2>
    <center>
    <h2>Houston - Network of Environmental Towers (H-NET)</h2>
    </center>
  </td>
</tr>
<tr>
  <td valign=top width=50%>
Houston Network of Environmental Towers (H-NET) collect chemistry and meteorological
measurements for air quality model applications in Houston Galveston Area.
This web site provides real-time update of collected data, as well as historical data.

Currently, <a href="/current.php">five sites</a> have been set up in
<ul>
  <li><a href="/location/index.php?location=1">UH - Main Campus</a>
	<small>(695)</small> </li>
  <li><a href="/location/index.php?location=2">Jones State Forest</a>
	<small>(698)</small> </li>
  <li><a href="/location/index.php?location=3">West Liberty Airport</a>
	<small>(699)</small> </li>
  <li><a href="/location/index.php?location=4">UH - Sugar Land</a>
	<small>(696)</small> </li>
  <li><a href="/location/index.php?location=5">UH - Coastal Center</a>
	<small>(697)</small> </li>
</ul>


    </td>
		
    <td align=center>
	 <div id="map" style="margin: 0 auto; text-align: center;" >
        <div id="map-canvas">
        </div>
        <div id="favorites" >  
            <button type=".add-favorite" onclick=""><span>Add to Your Favorites</span></button>
            <button type=".delete-favorite" onclick=""><span>Delete from Your Favorites</span></button>
            </div>
    </div>
    </td>
  </tr>
</table>
</template>