<template name='locations'>
    <ul>
        <li>
            <a href="/locations/uhmain"> UH - Main Campus</a> 
        </li>
        <li>
            <a href="/locations/coastal"> Coastal Center</a> 
        </li>
        <li>
            <a href="/locations/sugarland"> Sugar Land</a> 
        </li>
        <li>
            <a href="/locations/libertyairport"> West Liberty Airport</a> 
        </li>
        <li>
            <a href="/locations/jonesstate"> Jones State Forest</a> 
        </li>
    </ul>
</template>