body {
    background-color: #FFF9D9;
}

#map-canvas {
    width: 85%;
    height: 700px;
    position: fixed;
    margin: auto;
    vertical-align: middle;
}


/**************Navigation Bar****************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #C8102E;
  width: auto;
  margin-bottom: 15px;
}
#cssmenu ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'client\stylesheets\fonts\LeagueGothic-Regular.otf', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #F6BE00;
}

#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #F6BE00;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #F6BE00;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}

#cssmenu ul ul {
    display: none;
    position: absolute;
    background: #C8102E;
    padding: 0;
    z-index: 1000;
}

#cssmenu ul ul li {
    float: none;
}

#cssmenu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

#cssmenu ul li:hover > ul {
    display: block;
}

/********Nav Bar On Smaller Devices********/

@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}


/*********************Info Pages******************/

#UH-Main .whole {
    box-sizing: border-box;
}

#UH-Main .data {
    float: left;
    width: 48%;
    text-align: right;
    border-right: 5px solid #C8102E;

}
#UH-Main .left-screen {
    float: left;
    width: 35%;
    padding-left: 10px;
}

#UH-Main .numbers {
    float: right;
    width: 48%;
    text-align: left;
    border-left: 5px solid #C8102E;
}

#UH-Main .left-meter {
        float: left;
        width: 49%;
        border-top: 2px solid #c8102e;
        border-left: 2px solid #c8102e;
        border-bottom: 2px solid #c8102e;
}

#UH-Main .right-meter {
        float: right;
        width: 49%;
        border-top: 2px solid #c8102e;
        border-right: 2px solid #c8102e;
        border-bottom: 2px solid #c8102e;
}

#UH-Main .info {
    float: left;
    width: 100%;
    text-align: center;
}

#UH-Main .table {
    height: 200px;
    width: 100%;
    border: 1px solid #ccc;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
}

#UH-Main .right-screen {
    float: right;
    width: 60%;
    padding-right: 10px;
}

.conditions {
    text-align: center;
}

.Temp {
    padding-bottom: 5px;
    border-bottom: 2px solid #C8102E;
    border-top: 2px solid #C8102E;
}

.Hum {
    padding-bottom: 5px;
    border-bottom: 2px solid #C8102E;
}

.Hum-Oz {
    padding-bottom: 5px;
    border-bottom: 2px solid #C8102E;
}

/*********************Devices Under FullScreen************************/

/* ----------- iPhone 4 and 4S ----------- */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPhone 5 and 5S ----------- */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPhone 6 ----------- */

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPhone 6+ ----------- */

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* ----------- Galaxy S3 ----------- */

@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {

}

/* ----------- Galaxy S4 ----------- */

@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

}

/* ----------- Galaxy S5 ----------- */

@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

}

/* ----------- HTC One ----------- */

@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

}

/* ----------- iPad mini ----------- */

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 1 and 2 ----------- */

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Galaxy Tab 10.1 ----------- */

@media
  (min-device-width: 800px)
  and (max-device-width: 1280px) {

}

/* ----------- Asus Nexus 7 ----------- */

@media screen
  and (device-width: 601px)
  and (device-height: 906px)
  and (-webkit-min-device-pixel-ratio: 1.331)
  and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* ----------- Kindle Fire HD 7" ----------- */

@media only screen
  and (min-device-width: 800px)
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* ----------- Kindle Fire HD 8.9" ----------- */

@media only screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}
