<template name='nav'>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
			<img alt="HNET logo" src="/img/logo-small.png">
		</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				{{> navItems}}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{{> loginButtons}}
				<!-- here -->
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
</template>

<template name='navItems'>
	<li class="{{ activeIfTemplateIs 'home' }}">
		<a href="{{ pathFor 'home'}}">H-NET</a>
	</li>

	<li class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">Sites <b class="caret"></b></a>
		<ul class="dropdown-menu">
			{{#each sites}}
			  <li>
			    <a href="{{ pathFor 'site' _id=AQSID }}"> {{siteName}} </a>
			  </li>
			{{/each}}
		</ul>
	</li>

	{{#if currentUser}}
	<li class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">HNET Sites <b class="caret"></b></a>
		<ul class="dropdown-menu">
			{{#each sites}}
			  <li>
			    <a href="{{ pathFor 'hnetsite' _id=AQSID }}"> {{siteName}} </a>
			  </li>
			{{/each}}
			<li class="divider"></li>
			<li><a href="#">Launch Trailer</a></li>
		</ul>
	</li>
	<li class="{{ activeIfTemplateIs 'composite' }}">
		<a class="item" href="{{pathFor 'composite'}}">Composites</a>
	</li>
	{{/if}} {{#if isInRole 'admin,Editor' }}
	<li class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">Data Management<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="{{pathFor 'listEdits'}}">List Edited Data</a></li>
			<li><a href="{{pathFor 'listPushes'}}">List Pushed Data</a></li>
			<li><a href="{{pathFor 'datamanagement'}}">Actions</a></li>
		</ul>
	</li>
	{{/if}} {{#if isInRole 'admin' }}
	<li>
        <a href="/admin">Admin</a>
      </li>
	{{/if}}

	<li class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">About <b class="caret"></b></a>
		<ul class="dropdown-menu">
			{{#each sites}}
			  <li>
			    <a href="{{ pathFor 'about' _id=AQSID }}"> {{siteName}} </a>
			  </li>
			{{/each}}
			<li class="divider"></li>
			<li><a href="{{pathFor 'project'}}">Project Information</a></li>
		</ul>
	</li>
</template>
