<template name='nav'>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
			<img alt="HNET logo" src="/img/logo-small.png">
		</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				{{> navItems}}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{{> loginButtons}}
				<!-- here -->
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
</template>

<template name='navItems'>
	<li class="{{ activeIfTemplateIs 'home' }}">
		<a href="{{ pathFor 'home'}}">H-NET</a>
	</li>

	<li class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">Sites <b class="caret"></b></a>
		<ul class="dropdown-menu">
			{{#each sites}}
			  <li>
			    <a href="{{ pathFor 'site' _id=AQSID }}"> {{siteName}} </a>
			  </li>
			{{/each}}
		</ul>
	</li>

	{{#if currentUser}}
        {{#if isInRole 'editor,admin'}}
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">HNET Sites <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {{#each sites}}
                        <li>
                            <a href="{{ pathFor 'hnetsite' _id=AQSID }}"> {{siteName}} </a>
                        </li>
                    {{/each}}
                </ul>
            </li>
        {{/if}}
        {{#if isInRole 'bc2editor,editor,admin'}}
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">BC2 Sites <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {{#each bc2sites}}
                        <li>
                            <a href="{{ pathFor 'bc2site' _id=AQSID }}"> {{siteName}} </a>
                        </li>
                    {{/each}}
                </ul>
            </li>
        {{/if}}
        {{#if isInRole 'editor,admin'}}
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Composites<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{pathFor 'composite'}}">All Sites</a></li>
                    <li><a href="{{pathFor 'compositeCampus'}}">UH Campus Sites</a></li>
                </ul>
            </li>
        {{/if}}
	    {{#if isInRole 'editor,admin' }}
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Data Management<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{pathFor 'listEdits'}}">List Edited Data</a></li>
                    <li><a href="{{pathFor 'listAutomaticPushes'}}">List Automatic Push Data</a></li>
                    <li><a href="{{pathFor 'listManualPushes'}}">List Manual Push Data</a></li>
                    <li><a href="{{pathFor 'datamanagement'}}">Actions</a></li>
                </ul>
            </li>
	    {{/if}}
        {{#if isInRole 'admin' }}
            <li>
                <a href="/admin">Admin</a>
            </li>
	    {{/if}}
    {{/if}}

	<li class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">About <b class="caret"></b></a>
		<ul class="dropdown-menu">
			{{#each sites}}
			  <li>
			    <a href="{{ pathFor 'about' _id=AQSID }}"> {{siteName}} </a>
			  </li>
			{{/each}}
			<li class="divider"></li>
			<li><a href="{{pathFor 'project'}}">Project Information</a></li>
		</ul>
	</li>
</template>
