<template name="maincampus">
    <div class="conditions">
    <h2>Current Conditions at <br/> UH - Main Campus station</h2>
    </div>

        <div id="UH-Main" class="whole">
        <div align= center class="left-screen">
            <div >
                 <table border="1" width="380">
                    <td>
                        <tr width="100">Temperature</tr>
                        <tr width="100">Humidity</tr>
                        <tr width="100">Wind</tr>
                        <tr width="100">Barometer</tr>
                        <tr width="100">Percepitation (24hr)</tr>
                        <tr width="100">Ozone </tr>
                    </td>
                     
                     <td>
                        <tr width="100">{{siteInfo.temperature}}</tr>
                        <tr width="100">{{siteInfo.humidity}}</tr>
                        <tr width="100">{{siteInfo.wind.direction}} at {{siteInfo.wind.speed}}</tr>
                        <tr width="100">{{siteInfo.barometer}}</tr>
                        <tr width="100">{{siteInfo.percipitation}}</tr>
                        <tr width="100">{{siteInfo.ozone}}</tr>
                    </td>
             </table>
                <br>
                <br>
                <br>
                
             </div> 
           
            <div>
                
                <div class="meter">
                    {{> highchartsHelper chartId="winddir" chartWidth="100%" chartObject=windDirObj}}
                    {{> highchartsHelper chartId="windspd" chartWidth="100%" chartObject=windSpdObj}}
                </div>
                
               
            </div>
            
</div>


        <div class="right-screen">
            <div class="Temp">
            {{> highchartsHelper chartId="UHMainHeat" chartWidth="100%" chartHeight="300px" chartObject=maincampustemp}}
            </div>
            <div class="Hum">
            {{> highchartsHelper chartId="UHMainHumid" chartWidth="100%" chartHeight="300px" chartObject=maincampushumid}}
            </div>
            <div class="Hum-Oz">
            {{> highchartsHelper chartId="UHMainOzone" chartWidth="100%" chartHeight="300px" chartObject=chartGeneralOptions}}
            </div>
        </div>
            
             <div align=center class="info">
                <br/>
                <h3>Site Information</h3>
                State: {{siteInfo.state}}<br/>
                County: {{siteInfo.county}}<br/>
                City: {{siteInfo.city}}<br/>
                Site coordinates: <br/>
                Latitude: {{siteInfo.location.lat}}<br/>
                Longitude: {{siteInfo.location.lng}}<br/>
                Elevation: {{siteInfo.elevation}}<br/>
                Maintained by: {{siteInfo.maintainer}}<br/>
            </div>


            <div align=center class="table">
             <table border="1" width="380">
                    <tr>
                        <td width="80">Date/Time</td>
                        <td width="100">Temperature</td>
                        <td width="100">Humidity</td>
                        <td width="100">Ozone</td>
                    </tr>
             </table>
               <div class="table">
             <table border="1" width="380">
                 {{#each geoInfo}}

                    <tr>
                        <td width="80">{{epochToDate epoch}}</td>
                        <td width="100">{{temp}}</td>
                        <td width="100">{{humid}}</td>
                        <td width="100">{{o3}}</td>
                    </tr>

                {{/each}}
            </table>
            </div>
               </div>

</div>
</template>