<template name="site">

    <div class="ui message">
        <div class="header">
            Site: {{site.name}}
        </div>
        <div class="inline field">
            <label>Select Date: </label>
            <input type="date" value="{{selectedDate}}" id="datepicker">
            <button class="ui button" id="createPush">
                Create Push File
            </button>
        
        </div>
    </div>

    <!-- container for charts -->
    {{#each charts}}
    <div id="container-chart-{{id}}" style="width: 100%"></div>
    <!-- placeholder for editPoints modal -->
    {{/each}} {{> editPoints}}
</template>

<!-- Modal for editing points -->
<template name="editPoints">
    <div class="ui modal" id="editPointsModal">
        <div class="header">
            <i class="flag icon"></i>
            Edit Flags
        </div>
        <div class="content">
            <div class="ui sub header">Select New Flag</div>
            <div class="ui selection dropdown" id="drop">
                <input type="hidden" name="flag">
                <i class="dropdown icon"></i>
                <div class="default text">Select one ...</div>
                <div class="menu">
                    {{#each availableFlags}}
                    <div class="item" data-value="{{val}}" data-text="{{label}} ({{description}})">
                        {{> flagLabel}}
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="description">
                {{#if multiple}}
                    <p>Flags will be changed for the following {{numPointsSelected}} points:</p>
                {{else}}
                    <p>Flag will be changed for the following point:</p>
                {{/if}}
                <table class="ui compact table">
                    <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>Value</th>
                            <th>Instrument</th>
                            <th>Measurement</th>
                            <th>Current Flag</th>
                            <th>New Flag</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each points}}
                        <tr>
                            <td>{{formatDate x}}</td>
                            <td>{{formatDataValue y}}</td>
                            <td>{{instrument}}</td>
                            <td>{{measurement}}</td>
                            <td>{{> flagLabel flag}}</td>
                            <td>{{> flagLabel flagSelected}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="actions">
            <div class="ui deny labeled icon button">
                <i class="remove icon"></i> Cancel
            </div>
            <div class="ui primary approve labeled icon button">
                <i class="checkmark icon"></i> Submit
            </div>
        </div>
    </div>
</template>

<template name="flagLabel">
    <span class="ui mini {{color}} circular label" title="{{description}}">{{label}}</span>
    {{description}}
</template>
