<template name="site">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Site: {{sitename}}</h3>
        </div>
        <div class="panel-body">
            <h5>Select Date: </h5>
            <input type="date" value="{{selectedDate}}" id="datepicker">
            <button class="btn btn-primary" id="createPush">
                Create Push File
            </button>
        </div>
    </div>

    <!-- container for charts -->
    {{#each charts}}
    <div id="container-chart-{{id}}" style="width: 100%"></div>
    <!-- placeholder for editPoints modal -->
    {{/each}} {{> editPoints}}
</template>

<!-- Modal for editing points -->
<template name="editPoints">
    <div class="modal fade" id="editPointsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="pull-left">
                        <i class="fa fa-flag fa-2x" aria-hidden="true"></i><h3> Edit Flags</h3>
                    </div>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn dropdown-toggle">Select one ...<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <input type="radio" id="ID" name="NAME" value="VALUE">
                                    <label for="ID"><span class="data-label">
        <i class="fa fa-flag" aria-hidden="true"></i></span> Flag</label>
                                </li>
                                <!-- Other items -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-body">

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Timestamp</th>
                                <th>Value</th>
                                <th>Instrument</th>
                                <th>Measurement</th>
                                <th>Current Flag</th>
                                <th>New Flag</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each points}}
                            <tr>
                                <td><i class="close icon" data-id="{{id}}"></i></td>
                                <td>{{formatDate x}}</td>
                                <td>{{formatDataValue y}}</td>
                                <td>{{instrument}}</td>
                                <td>{{measurement}}</td>
                                <td>{{> flagLabel flag}}</td>
                                <td>{{> flagLabel flagSelected}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <span>Flags will be changed for <span>{{numFlagsWillChange}}</span>/<span>{{numPointsSelected}}</span> points.</span>
                <div class="ui deny labeled icon button">
                    <i class="remove icon"></i> Cancel
                </div>
                <div class="ui primary approve labeled icon button{{#unless isValid}} disabled{{/unless}}">
                    <i class="checkmark icon"></i> Submit
                </div>
            </div>
        </div>
    </div>
</template>

<template name="flagLabel">
    <span class="ui mini {{color}} circular label" title="{{description}}">{{label}}</span> {{description}}
</template>
