<template name="passData">
    <h1>Create 5 min Aggregate Data for</h1>
    <span>Site: </span>
    <input type="text" value="482010572" />
    <span>Start Epoch: </span>
    <input id="start" type="text" value="{{startEpoch}}" />
    <input type="date" value="{{selectedStartDate}}" id="startdatepicker">
    
    <span>End Epoch: </span>
    <input id="end" type="text" value="{{endEpoch}}" />
    <input type="date" value="{{selectedEndDate}}" id="enddatepicker">
    <input id="passDataResult" type="button" value="Call" />
    <div>{{result}}</div>
    
</template>
