<template name="forecast" >
    <div align=center>
<h1>Weather Forecast</h1>

<a name="NWS"></a>
<h2>National Weather Service (NWS) Forecast</h2>
<iframe src="http://forecast.weather.gov/MapClick.php?CityName=Houston&state=TX&site=HGX&textField1=29.7687&textField2=-95.3867&e=1&TextType=2" width=800 height=600 align=middle frameborder=0>
<!-- Alternative content for non-supporting browsers -->
<blockquote>
  <a href="http://forecast.weather.gov/MapClick.php?CityName=Houston&state=TX&site=HGX&textField1=29.7687&textField2=-95.3867&e=1&TextType=2">
  Forecast for Houston, TX</a>
</blockquote>
</iframe>

<a name="SPC"></a>
<h2>Storm Prediction Center (SPC) Outlook</h2>
<center>
  <a href="http://www.spc.noaa.gov/products/outlook/" target="_blank">
  <img src="http://www.spc.noaa.gov/exper/mesoanalysis/activity_loop2.gif" border=0>
  </a>
</center>

<a name="NHC"></a>
<h2>National Harricane Center (NHC) Outlook</h2>
<center>
  <a href="http://www.nhc.noaa.gov/nhc_storms.shtml" target="_blank">
  <img src="http://www.nhc.noaa.gov/overview_atl/atl_overview.gif" border=0>
  </a>
</center>
        </div>
</template>