<template name="history">
    <div align="center">
        <h3>HISTORICAL DATA</h3>
    </div>
    <BR/>
    <div align="center">
        <form>
        <h3>Select a date</h3>
    <select name="month" required>
        <option value=0 selected>January</option>       
        <option value=1>February</option>       
        <option value=2>March</option>       
        <option value=3>April</option>       
        <option value=4>May</option>       
        <option value=5>June</option>       
        <option value=6>July</option>       
        <option value=7>August</option>       
        <option value=8>September</option>       
        <option value=9>October</option>       
        <option value=10>November</option>       
        <option value=11>December</option>    
    </select>
    <select name="day" required>
        <option>1</option>       
        <option>2</option>       
        <option selected>3</option>       
        <option>4</option>       
        <option>5</option>       
        <option>6</option>       
        <option>7</option>       
        <option>8</option>       
        <option>9</option>       
        <option>10</option>       
        <option>11</option>       
        <option>12</option>       
        <option>13</option>       
        <option>14</option>       
        <option>15</option>       
        <option>16</option>       
        <option>17</option>       
        <option>18</option>       
        <option>19</option>       
        <option>20</option>       
        <option>21</option>       
        <option>22</option>       
        <option>23</option>       
        <option>24</option>       
        <option>25</option>       
        <option>26</option>       
        <option>27</option>       
        <option>28</option>       
        <option>29</option>       
        <option>30</option>       
        <option>31</option>
    </select>
    <select name="year" required>
        <option selected>2014</option>
    </select>
    <select name="duration" required>
        <option selected value=3>3 hours</option>
        <option value=6>6 hours</option>
        <option value=24>24 hours</option>        
    </select>
        <p>And time: </p>
    <select name="hour" required>
        <option>0</option>
        <option>1</option>       
        <option>2</option>       
        <option>3</option>       
        <option>4</option>       
        <option>5</option>       
        <option>6</option>       
        <option>7</option>       
        <option>8</option>       
        <option>9</option>       
        <option selected>10</option>       
        <option>11</option>       
        <option>12</option>       
        <option>13</option>       
        <option>14</option>       
        <option>15</option>       
        <option>16</option>       
        <option>17</option>       
        <option>18</option>       
        <option>19</option>       
        <option>20</option>       
        <option>21</option>       
        <option>22</option>       
        <option>23</option>        
    </select>
    <select name="min" required>
        <option>0</option>
        <option>5</option>       
        <option>10</option>       
        <option>15</option>       
        <option>20</option>       
        <option>25</option>       
        <option selected>30</option>       
        <option>35</option>       
        <option>40</option>       
        <option>45</option>       
        <option>50</option>       
        <option>55</option>
    </select>
    <br/>
        <select name="plot" required>
        <option selected value="temp">Temperature</option>
        <option value="humid">Humidity</option>       
        <option value="windspd">Wind speed</option>       
        <option value="winddir">Wind direction</option>       
        <option value="o3">Ozone</option>               
    </select>
    <br/>
    <input type="submit" value="Graph">
        <br/>
            </form>
      <div>
          {{> highchartsHelper chartId="historicalCharts" chartWidth="100%" chartHeight="300px" chartObject=historyGraph}}
            </div>
        <div style="height:500px;width:100%;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">            
        {{#each historyData}}
            {{epochToDate epoch}} : {{temp}}
            <br/>
        {{/each}}
            
        </div>
    </div>
</template>