<template name="composite">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Composite Plots</h3>
		</div>
		<div class="panel-body">
			<h5>Select Date: </h5>
			<input type="date" value="{{selectedDate}}" id="datepicker">
		</div>
	</div>

	<!-- container for charts -->
	{{#each charts}}
	<div id="container-chart-{{_id}}" style="width: 100%"></div>
	<!-- placeholder for editPoints modal -->
	{{else}}
		<p >Found no data for the selected date.</p>
	{{/each}}
</template>
